<extend name="Public:base" />
<block name="body">
	<div class='tables'>

		<div class="bs-example widget-shadow" data-example-id="bordered-table"> 
			<h4>教师设置列表</h4>
			<form action="__URL__/showList" method="GET">
			
				<div class='row'>

					 <div class="col-sm-3"> 
					    <select  id='course_id_select'name='course_id' >
					    	<option value=''> 请选择课程</option>
					    	<foreach name='courseList'  item="vo" key="key">
					    		<option <if condition=" $info['course_id'] eq $vo.id "> selected="selected"</if> value='{$vo.id}'>{$vo.name}</option>
					    	</foreach>
					    	
					 	</select> 
					 </div> 
					 
					  <div class="col-sm-1"> 
                            <div class="input-group">
                                     <input  class="form-control yearView"  name='year' id='year' value="{$info['year']}" type="text" >
                                     <span class="input-group-addon">
                                         <i class="fa fa-calendar"></i>
                                     </span>
                            </div>						 
						 
						 	 
					</div>
					
					<div class="col-sm-1"> 
  					 			
				 		<select id='term' name='term' >
				 			<option value="">请选择学期</option>
				 			<option <if condition=" $info['term'] eq '1' "> selected="selected"</if> value='1'>上学期</option>
				 			<option <if condition=" $info['term'] eq '2' "> selected="selected"</if> value='2'>下学期</option>
				 		</select>
				 	 
					</div>  
					
					 <div class="col-sm-3"> 
					    <select   id='class_id_select' name='class_id' >
					    	<option value=''> 请选择班级</option>
					    	<foreach name='classList'  item="vo" key="key">
					    		<option <if condition=" $info['class_id'] eq $vo.id "> selected="selected"</if> value='{$vo.id}'>{$vo.name}</option>
					    	</foreach>
					    	
					 	</select> 
					 </div> 					
					 
					<div class='col-sm-2'>
						<input type="submit" id="addRow" class="btn btn-default" value="搜索"> 
					</div>	
	
				</div>
			</form>	
			<div class='row'>
          <table class="table table-striped table-hover table-bordered" id="editabledatatable">
	                    <thead>
	                        <tr role="row">
	                        	<th>序号</th>
	                            <th>创建时间</th>
	                            <th>课程名称</th>
	                            <th>年份</th>
	                            <th>学期</th>
	                            <th>班级</th>
	                            <th>老师</th>
	            
	       	                    <th style="min-width: 150px">操作</th>
	              
	                        </tr>
	                    </thead>
	
	                    <tbody id="tapeListTable">
	                    	<foreach name="list" item="vo" key="key">
		                        <tr>
		                            <td>{$key+1}</td>
		                            <td>{$vo.ctime}</td>
		                            <td>{$vo.course_id}</td>
		                            <td>{$vo.year}</td>
		                            <td>{$vo.term}</td>
		                            <td>{$vo.class_id}</td>
		                            <td>{$vo.teacher_id}</td>
		          
		              
		                			<td>
		                		
              						<a <if condition="$my_detail_btn neq 1">  style="display: none;" </if> href="__URL__/detail?type=menu&id={$vo.id}" data-bb-handler="confirm" type="button"  class=" my_detail_btn btn btn-primary">详情</a>
           							<a <if condition="$my_modify_btn neq 1">  style="display: none;" </if> href="__URL__/modify?type=menu&id={$vo.id}" data-bb-handler="confirm" type="button"  class=" my_modify_btn btn btn-primary">修改</a>
           							<a <if condition="$my_del_btn neq 1">  style="display: none;" </if> href="__URL__/del?type=menu&id={$vo.id}" data-bb-handler="confirm" type="button"    class=" my_del_btn btn btn-danger  delete">删除</a>
                			
		                			</td>
		          
		             
		                         
		                        </tr>
	                        </foreach>                        
	                    </tbody>
	                </table>
		    </div>
		    <div class='row'>
			    <div class="col-sm-6 col-sm-offset-5">
	  				<ul class="pagination" id="pageUl">
					{$page}
					</ul>
				</div>
			</div>	
		</div>	

	</div>


</block>
<block name="footjs">
<script src="__PUBLIC__/js/select2/select2.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    //$("#registrationForm").bootstrapValidator();
    $("#file_temp_id").select2();

});
</script>
</block>