<!DOCTYPE HTML>
<html>
<head>
<title>Blank Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Novus Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<link href="__ASSETS__/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="__ASSETS__/css/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<!-- font-awesome icons -->
<link href="__ASSETS__/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
 <!-- js-->
<script src="__ASSETS__/js/jquery-1.11.1.min.js"></script>
<script src="__ASSETS__/js/modernizr.custom.js"></script>

<!--animate-->
<link href="__ASSETS__/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="__ASSETS__/js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
<!-- Metis Menu -->
<script src="__ASSETS__/js/metisMenu.min.js"></script>
<script src="__ASSETS__/js/custom.js"></script>
<link href="__ASSETS__/css/custom.css" rel="stylesheet">
<!--//Metis Menu -->
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
		<!--left-fixed -navigation-->
		<div class=" sidebar" role="navigation">
            <div class="navbar-collapse">
				<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
					<ul class="nav" id="side-menu">
						<li>
							<a href="__APP__/Home/Index/index"><i class="fa fa-home nav_icon"></i>首页</a>
						</li>
						
						<foreach name="menu" item="value" key="key">
                    	<li  <if condition="$value.link eq $NOW_MENU">class='open'</if>  >
                   			 <a href= "#">
	                            <i class="{$value.icon}"></i>
	                             {$value.title} 
	                            <span class="fa arrow"></span>
                        	</a>
                        	<ul class="nav nav-second-level collapse">
                        		<foreach name="value.childs" item="v">
                        			<li   <if condition="$v.link eq $SECOND_NOW_MENU">class='open'</if> >
                        				<empty name="v.childs">
			                                <a href="__APP__{$v.link}" target="_blank">
			                                	<i class="{$v.icon}"></i>
			                                    {$v.title}
			                          
			                                </a> 
		                               	<else/>
		                               		<a href="#" >
		                                       	<i class="{$v.icon}"></i>
			                                    {$v.title}
			                              		<span class="fa arrow"></span>
				                            </a> 
				                            <ul class="nav nav-second-level collapse">
				                                <foreach name="v.childs" item="cv">
					                                	<li>
						                                	  <a href="__APP__{$cv.link}" target="_blank">
							                                        <i class="{$cv.icon}"></i>
			                                   						 {$cv.title}
						                              		  </a>
					                                	</li>
				                                </foreach> 
				                            </ul> 
		                                </empty>
		                            </li>
                        		</foreach>
                        	</ul>
                    	</li>
                   		 </foreach>
						
					
					</ul>
					<div class="clearfix"> </div>
					<!-- //sidebar-collapse -->
				</nav>
			</div>
		</div>
		<!--left-fixed -navigation-->
		<!-- header-starts -->
		<div class="sticky-header header-section ">
			<div class="header-left">
				<!--toggle button start-->
				<button id="showLeftPush" style="display: none;"><i class="fa fa-bars"></i></button>
				<!--toggle button end-->
				<!--logo -->
				<div class="logo" style="width: 309px;">
					<a href="index.html">
						<h1>NOVUS</h1>
						<span>AdminPanel</span>
					</a>
				</div>

				<div class="clearfix"> </div>
			</div>
			<div class="header-right">
		
				<!--notification menu end -->
				<div class="profile_details">		
					<ul>
						<li class="dropdown profile_details_drop">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<div class="profile_img">	
									<span class="prfil-img"><img src="images/a.png" alt=""> </span> 
									<div class="user-name">
										<p>Wikolia</p>
										<span>Administrator</span>
									</div>
									<i class="fa fa-angle-down lnr"></i>
									<i class="fa fa-angle-up lnr"></i>
									<div class="clearfix"></div>	
								</div>	
							</a>
							<ul class="dropdown-menu drp-mnu">
								<li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li> 
								<li> <a href="#"><i class="fa fa-user"></i> Profile</a> </li> 
								<li> <a href="#"><i class="fa fa-sign-out"></i> Logout</a> </li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>	
			</div>
			<div class="clearfix"> </div>	
		</div>
		<!-- //header-ends -->
		<!-- main content start-->
		<div id="page-wrapper" style="margin-top: 76px;min-height: 600px;">
			<div class="main-page">
					<block name="body">body</block>
			</div>
		</div>
		<!--footer-->
		<div class="footer">
		   <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
		</div>
        <!--//footer-->
	</div>
	<!-- Classie -->
		<script src="__ASSETS__/js/classie.js"></script>
		<script>
			var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
				showLeftPush = document.getElementById( 'showLeftPush' ),
				body = document.body;
				
			showLeftPush.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( body, 'cbp-spmenu-push-toright' );
				classie.toggle( menuLeft, 'cbp-spmenu-open' );
				disableOther( 'showLeftPush' );
			};
			
			function disableOther( button ) {
				if( button !== 'showLeftPush' ) {
					classie.toggle( showLeftPush, 'disabled' );
				}
			}
		</script>
	<!--scrolling js-->
	<script src="__ASSETS__/js/jquery.nicescroll.js"></script>
	<script src="__ASSETS__/js/scripts.js"></script>
	<!--//scrolling js-->
	<!-- Bootstrap Core JavaScript -->
   <script src="__ASSETS__/js/bootstrap.js"> </script>
</body>
</html>