<extend name="Public:base" />
<block name="body">

	<div class="panel-body widget-shadow">

		<div class="form-grids row widget-shadow" data-example-id="basic-forms"> 
		<div class="form-title">
			<h4>成绩录入 :</h4>
		</div>
		<div class="form-body col-sm-8">
			<form class="form-horizontal" action="__URL__/save?type=add" method="POST">
			<input type="hidden" value="{$info['id']}" class="form-control" id="id" name='id' >
				 <div class='row'>
					 <div class="form-group "> 
						 <label for="name" class="col-sm-3 control-label">课程</label>
						 
						 <div class="col-sm-6"> 
						    <select id='course_id_select' required="required" name='course_id' >
						    	<option value=''> 请选择课程</option>
						    	<foreach name='courseList'  item="vo" key="key">
						    		<option <if condition=" $info['course_id'] eq $vo.id "> selected="selected"</if> value='{$vo.id}'>{$vo.name}</option>
						    	</foreach>
						    	
						 	</select> 
						 </div> 
					 </div>
				 </div>	
				 
				 <div class='row'>
					 <div class="form-group "> 
						 <label for="name" class="col-sm-3 control-label">年份</label>
						 <div class="col-sm-3"> 
                               <div class="input-group">
                                        <input class="form-control yearView" required="required" name='year' id='year' value="{$info['year']}" type="text" >
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                               </div>						 
						 
						 	 
						 </div> 
						 <label for="name" class="col-sm-1 control-label">学期</label>
						  <div class="col-sm-2"> 
  					 			
						 		<select id='term' required="required" name='term' >
						 			<option value="">请选择学期</option>
						 			<option <if condition=" $info['term'] eq '1' "> selected="selected"</if> value='1'>上学期</option>
						 			<option <if condition=" $info['term'] eq '2' "> selected="selected"</if> value='2'>下学期</option>
						 		</select>
						 	 
						 </div> 
					 </div>
				 </div>	
				 
				 
				 <div class='row'>
					 <div class="form-group "> 
						 <label for="name" class="col-sm-3 control-label">班级</label>
						 
						 <div class="col-sm-6"> 
						    <select required="required" id='class_id_select' name='class_id' >
						    	<option value=''> 请选择班级</option>
						    	<foreach name='classList'  item="vo" key="key">
						    		<option <if condition=" $info['class_id'] eq $vo.id "> selected="selected"</if> value='{$vo.id}'>{$vo.name}</option>
						    	</foreach>
						    	
						 	</select> 
						 </div> 
					 </div>
				 </div>		
				 
				 <div class='row'>
					 <div class="form-group "> 
						 <label for="name" class="col-sm-3 control-label">学生</label>
						 
						 <div class="col-sm-6"> 
						    <select required="required" id='student_id_select' name='student_id' >
						    	<option value=''> 请选择学生</option>
						    	<foreach name='studentList'  item="vo" key="key">
						    		<option <if condition=" $info['student_id'] eq $vo.id "> selected="selected"</if> value='{$vo.id}'>{$vo.name}</option>
						    	</foreach>
						    	
						 	</select> 
						 </div> 
					 </div>
				 </div>		
				 
				  <div class='row'>
					 <div class="form-group "> 
						 <label for="name" class="col-sm-3 control-label">分数</label>
						 <div class="col-sm-6"> 
								<input type="text" name='score' id='score' required="required" class="form-control"  onkeyup="value=value.replace(/[^\d+\.]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d+\.]/g,''))" >
							
						 </div> 
					 </div>
				 </div>  
				 
				
			
				 <div class='row'>
					 <div class="col-sm-offset-4">
					 <button  id='save_button' type="submit" class="btn btn-default">保存</button> 
					 </div>
				 </div>
				 
				 </form>
		</div>
		 
		</div>
	</div>	

		
		

<script type="text/javascript">
$(document).ready(function () {
    //$("#registrationForm").bootstrapValidator();

});

$("#addRow").click(function(){

	var add_div = $("#add_div").html();
	$("#fieldList").append(add_div);
});



$("#fieldList").on('click','.remove-row',function(){
	if(!confirm("您确定删除?")){
		return false;
	} 
	//$(this).parent().parent().parent().attr('style',"display: none;");
	
	console.log($(".remove-row").length);
	if($(".remove-row").length <= 2){
		alert('最后一个列名不能删除');
		return false;
	}
	
	$(this).parent().parent().parent().remove();


});

/* $("#fieldList").on('keyup','.nameinput',function(){
	var val = $(this).val();
	if(val){
		$flag = true;
		var index = $('.nameinput').index(this);
		$parent = $(this);
		$('.nameinput').each(function($k,$v){
			
				if($k != index ){
					
				var v = $($v).val();
				console.log(val +"=="+v);
				if(v && (v == val)){
					$flag = false;
					$("#save_button").attr("disabled","disabled");
					$(this).attr('style','border-color:red;');
					$parent.attr('style','border-color:red;');
				}else{
					$(this).attr('style','border-color:#ccc;');
					$parent.attr('style','border-color:#ccc;');
				}
			}
		});
		if($flag){
			$("#save_button").removeAttr("disabled");
		
		}
	}
	
}); */

$("#fieldList").on('keyup','.keyinput',function(){
	var val = $(this).val();
	if(val){
		$flag = true;
		var index = $('.keyinput').index(this);
		$parent = $(this);
		$('.keyinput').each(function($k,$v){
			
				if($k != index ){
					
				var v = $($v).val();
				if(v && (v == val)){
					$parent.val(val.substring(0,val.length-1));
					alert("键名标志不能重复");
				}
				
			}
		});

	}
	
});


</script>

</block>
<block name="footjs">

<link href="__PUBLIC__/css/bootstrap-datetimepicker.css" rel="stylesheet" />

<!--Basic Scripts-->



<!--Beyond Scripts-->
<script src="__PUBLIC__/js/select2/select2.js"></script>
<script src="__PUBLIC__/js/datetime/bootstrap-timepicker.js"></script>  


<script src="__PUBLIC__/js/datetime/bootstrap-datetimepicker.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    //$("#registrationForm").bootstrapValidator();
    
	$('.yearView').datetimepicker({
		autoclose: true,
		startView:4,minView:4,
        lang:"ch",           
        format:"yyyy",      
        timepicker:false,  
    
        minDate: 0,   
  
        });
	
	
	$('.yearView').datetimepicker('setEndDate',(new Date()).getFullYear());
});



</script>


	<script>
		$(function(){
			$("#class_id_select").change(function(){
					var course_id = $("#course_id_select :selected").val();  
					var class_id = $("#class_id_select :selected").val(); 
					var student_id = $("#student_id_select :selected").val(); 
					var year = $("#year").val(); 
					var term = $("#term").val(); 

					location.href = "__URL__/add?type=menu&course_id="+course_id+"&class_id="+class_id
							+"&student_id="+student_id
							+"&year="+year+"&term="+term;
			});
		
		})
	
	</script>

</block>