<extend name="Public:base" />
<block name="body">
	<div class='tables'>

		<div class="bs-example widget-shadow" data-example-id="bordered-table"> 
			<h4>档案模板列表</h4>
			<form action="__URL__/showList" method="GET">
			
				<div class='row'>
					<div class='col-sm-3'>
							<select id="file_temp_id" name='file_temp_id'  style="width:100%;">
						 		<option value="" />请选择你要添加的模板
						 		<foreach name="fileTempList" item ="vo" key="key"> 
						 			<option <if condition="$vo['id'] eq $file_temp_id "> selected="delected"</if> value="{$vo.id}" />{$vo.title}
						 		</foreach>
						 	</select> 
							
					</div>
					<div class='col-sm-3'>
						<input type="text"  name="searchValue" value="{$searchValue}" id="searchValue" class="form-control nameinput" placeholder="请输入您要搜索的内容"> 
					</div>
					<div class='col-sm-2'>
						<input type="submit" id="addRow" class="btn btn-default" value="搜索"> 
					</div>	
	
				</div>
			</form>	
			<div class='row'>
			<table class="table table-bordered"> 
					<thead> 
						<tr> 
						 <notempty name='list'>
							<th>序号</th> 
							<th>创建时间</th> 
							<foreach name='tempinfo["name"]' key='key' item='vo' >
								<th>{$vo}({$key})</th> 
							</foreach>
							<th>操作</th> 
						 </notempty>
						</tr> 
					</thead> 
					<tbody> 
						<foreach name='list' key='key' item='vo' >
						<tr> 
                        	<td>{$key+1}</td>
                            <td>{$vo.ctime}</td>
            				<foreach name='vo["value"]' key='k' item='v' >
            					<td>{$v}</td>
            				</foreach>
           						 
        
                			<td>
                	
                			
                			<a <if condition="$my_detail_btn neq 1">  style="display: none;" </if> href="__URL__/detail?type=menu&id={$vo.id}" data-bb-handler="confirm" type="button"  class=" my_detail_btn btn btn-primary">详情</a>
                		
           					
           			
           					<a <if condition="$my_modify_btn neq 1">  style="display: none;" </if> href="__URL__/modify?type=menu&id={$vo.id}" data-bb-handler="confirm" type="button"  class=" my_modify_btn btn btn-primary">修改</a>
           		
           				
           					<a <if condition="$my_del_btn neq 1">  style="display: none;" </if> href="__URL__/del?type=menu&id={$vo.id}" data-bb-handler="confirm" type="button"    class=" my_del_btn btn btn-danger  delete">删除</a>
                			
                	
                			
                			</td>
						</tr>
						</foreach>
				    </tbody> 

		    </table>
		    </div>
		    <div class='row'>
			    <div class="col-sm-6 col-sm-offset-5">
	  				<ul class="pagination" id="pageUl">
					{$page}
					</ul>
				</div>
			</div>	
		</div>	

	</div>


</block>
<block name="footjs">
<script src="__PUBLIC__/js/select2/select2.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    //$("#registrationForm").bootstrapValidator();
    $("#file_temp_id").select2();

});
</script>
</block>