<extend name="Public:base" />
<block name="body">
<div class="page-body" style="font-size: 40px;text-align: center;margin-top: 100px;">

		<div class="form-body col-sm-8">
			<form class="form-horizontal" action="__URL__/savePassword" method="POST">

				 <div class='row'>
					 <div class="form-group "> 
						 <label for="name" class="col-sm-3 control-label">原密码</label>
						 <div class="col-sm-6"> 
						 	<input type="password" required="required"  name="oldpassword" class="form-control"   placeholder="请输入原密码" onkeyup="value=value.replace(/[\W]/g,'') "onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))"> 
						 </div> 
					 </div>
				 </div>
				<div class='row'>
					 <div class="form-group "> 
						 <label for="name" class="col-sm-3 control-label">新密码</label>
						 <div class="col-sm-6"> 
						 	<input type="password" required="required"  name="password" class="form-control"   placeholder="请输入新密码" onkeyup="value=value.replace(/[\W]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))"> 
						 </div> 
					 </div>
				 </div>		
				 
				 <div class ='row' style="margin-top: 40px;">
                    		<div class='col-sm-offset-1'>
                    			<input type="submit" class='btn btn-info' id='mod_btn' value="修改"> </input>
                    		</div>
                    	
                 </div>
				 	 
			</form>	 
		</div>	
	
	
</div>

</block>
<block name="footjs">
<!--Basic Scripts-->

<script type="text/javascript">
$(document).ready(function () {
    //$("#registrationForm").bootstrapValidator();
});
</script>
</block>